/* 发现 */
#wrap-discovery{
    height: 100%;
    /* 占用剩余布局 */
    flex-grow: 1;
    /* 裁剪剩余内容，滚动显示 */
    overflow-y: scroll;
    display: none;
    background-color: #f8f6f6;
}
/* 每组容器 */
.groups{
    background-color: white;
    width: 100%;
    margin-top: 16px;
  
}
.group-item{
    width: 94%;
    height: 44px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #eeeeee;
}
/* 最后一项去掉下边框 */
.groups-item:last-child{
    border-bottom: none;
}
/* 每项左 */
.group-item-left{
    height: 40px;
    width: 40px;
}
.group-item-left img{
    margin: 10px 7px;
    width: 24px;
    height: 24px;
}
/* 每项中 */
.group-item-center{
    flex-grow: 1;
    color: #616161;
    font-size: 14px;
    line-height: 40px;
    padding-left: 10px;
    height: 40px;
    margin-top: 2px;

}
/* 每项右 */
.group-item-right{
    width: 40px;
    height: 40px;
    background: url(../img/icon/material/右箭头.svg) no-repeat;
    background-color: center;
    background-size: contain;
    transform: scale(.5);
}